<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="/petshop-web/frontend/resources/style/home.css"
    />
    <link
      rel="stylesheet"
      href="/petshop-web/frontend/resources/style/homecss.css"
    />
  </head>
  <body>
    <div>
      <a href="home.html"
        ><img src="/petshop-web/frontend/resources/image/logo.png" alt="" />Pet
        Shop</a
      >
      <div class="search">
        <input type="text" placeholder="Tìm kiếm...." />
        <button type="submit">
          <img src="/petshop-web/frontend/resources/image/search.png" alt="#" />
        </button>
      </div>
      <table>
        <tr>
          <th>
            <h4>Hotline</h4>
          </th>
          <th>
            <a href=""
              ><img
                src="/petshop-web/frontend/resources/image/love.png"
                alt="#"
            /></a>
          </th>
          <th>
            <a href=""
              ><img
                src="/petshop-web/frontend/resources/image/cart.png"
                alt="#"
            /></a>
          </th>
          <th>
            <a href=""
              ><img
                src="/petshop-web/frontend/resources/image/account.png"
                alt="#"
            /></a>
          </th>
        </tr>
        <tr>
          <th>10001999</th>
          <th>Wishlist</th>
          <th>Đăng nhập</th>
          <th>Giỏ hàng</th>
        </tr>
      </table>
    </div>
    <nav>
      <ul>
        <li><a href="">Chó</a></li>
        <li><a href="">Mèo</a></li>
        <li><a href="">Hàng mới về</a></li>
        <li><a href="">Thiết bị thông minh </a></li>
        <li><a href="">Thương hiệu</a></li>
        <li><a href="">Tin tức</a></li>
        <li><a href="">Liên hệ</a></li>
      </ul>
    </nav>
  </body>
</html>
