<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="/petshop-web/frontend/resources/style/home.css"
    />
    <link
      rel="stylesheet"
      href="/petshop-web/frontend/resources/style/homecss.css"
    />
  </head>
  <body>
    <div class="header">
      <div class="headerFrame1">
        <a href="home.html">
          <img src="/petshop-web/frontend/resources/image/logo.avif" />
        </a>
        <div class="search">
          <input type="text" placeholder="Tìm kiếm..." />
          <button type="submit">
            <img
              src="/petshop-web/frontend/resources/image/search.png"
              alt="#"
            />
          </button>
        </div>
        <div class="hotline">
          <p>Hotline</p>
          <p>0346 420 914</p>
        </div>
        <div class="cacdvukhac">
          <a href="wishlist.html">
            <img src="/petshop-web/frontend/resources/image/love.png" />
            <p>Wishlist</p>
          </a>
        </div>
        <div class="cacdvukhac">
          <a href="login.html">
            <img src="/petshop-web/frontend/resources/image/account.png" />
            <p>Đăng Nhập</p>
          </a>
        </div>
        <div class="cacdvukhac">
          <a href="cart.html">
            <img src="/petshop-web/frontend/resources/image/cart.png" />
            <p>Giỏ Hàng</p>
          </a>
        </div>
      </div>

      <nav class="menu">
        <ul>
          <li><a href="">Chó</a></li>
          <li><a href="">Mèo</a></li>
          <li><a href="">Hàng mới về</a></li>
          <li><a href="">Thiết bị thông minh </a></li>
          <li><a href="">Thương hiệu</a></li>
          <li><a href="">New</a></li>
          <li><a href="">Today sales</a></li>
        </ul>
      </nav>
    </div>
  </body>
</html>
