<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      rel="stylesheet"
      href="/petshop-web/frontend/resources/style/login.css"
    />
  </head>
  <body>
    <div class="header">
      <div class="headerFrame1">
        <a href="home.html">
          <img src="/petshop-web/frontend/resources/image/logo.avif" />
        </a>
        <div class="search">
          <input type="text" placeholder="Tìm kiếm..." />
          <button type="submit">
            <img
              src="/petshop-web/frontend/resources/image/search.png"
              alt="#"
            />
          </button>
        </div>

        <div class="cacdvukhac">
          <a href="wishlist.html">
            <img src="/petshop-web/frontend/resources/image/love.png" />
            <p>Wishlist</p>
          </a>
        </div>
        <div class="cacdvukhac">
          <a href="login.html">
            <img src="/petshop-web/frontend/resources/image/account.png" />
            <p>Đăng Nhập</p>
          </a>
        </div>
        <div class="cacdvukhac">
          <a href="cart.html">
            <img src="/petshop-web/frontend/resources/image/cart.png" />
            <p>Giỏ Hàng</p>
          </a>
        </div>
      </div>

      <nav class="menu">
        <ul>
          <li>
            <a href="">Chó</a>
            <div class="divmenu">
              <p>Chăm sóc vệ sinh cún</p>
              <p>Thức ăn cho chó</p>
              <p>Bánh Thưởng</p>
              <p>Phụ Kiện</p>
              <p>Chăm Sóc Sức Khỏe Cún</p>
              <p>Đồ Chơi</p>
              <p>Vận Chuyển</p>
            </div>
          </li>
          <li>
            <a href="">Mèo</a>
            <div class="divmenu">
              <p>Thức ăn cho mèo</p>
              <p>Phụ Kiện và đồ chơi</p>
              <p>Chăm Sóc Sức Khỏe</p>
              <p>Vận Chuyển-Chuồng</p>
              <p>Vệ sinh</p>
            </div>
          </li>
          <li><a href="">Hàng mới về</a></li>
          <li>
            <a href="">Thiết bị thông minh </a>
            <div class="divmenu">
              <p>Máy ăn uống tự động</p>
              <p>Nhà vệ sinh tự động</p>
              <p>Đồ Chơi Tương Tác</p>
            </div>
          </li>
          <li><a href="">Thương hiệu</a></li>
          <li><a href="">New</a></li>
          <li><a href="">Today sales</a></li>
        </ul>
      </nav>
    </div>

    <div class="login-box">
      <form action="">
        <h1>Login</h1>
        <div class="input-box">
          <input type="text" maxlength="18" placeholder="Username" required />
          <img
            src="/petshop-web/frontend/resources/image/icons8-account-64.png"
            alt="*"
          />
        </div>
        <div class="input-box">
          <input
            maxlength="20"
            type="password"
            placeholder="Password"
            required
          />
          <img
            src="/petshop-web/frontend/resources/image/icons8-lock-64.png"
            alt="*"
          />
        </div>
        <div class="forgot">
          <label><input type="checkbox" />Remember me</label>
          <a href="">Forgot Password</a>
        </div>
        <button type="submit" class="btn">Login</button>
        <div class="creat-account">
          <p>Dont have an account?<a href="#">Creat Accout</a></p>
        </div>
      </form>
    </div>

    <div class="Content">
      <h2>Hàng Mới Về</h2>
      <h2>
        Paddy | Cơn lốc HÀNG MỚI mỗi ngày, thỏa mãn mọi nhu cầu của "hoàng
        thượng" và "boss"!
      </h2>
      <p>
        Tại Paddy, bạn sẽ được đắm chìm trong thế giới HÀNG MỚI với hơn 200 sản
        phẩm cập nhật mỗi ngày, thuộc các danh mục đa dạng:
      </p>
      <ul>
        <a href="#">1. Thức ăn cho mèo và Thức ăn cho chó : </a>
        <li>
          Đáp ứng mọi nhu cầu dinh dưỡng cho thú cưng ở mọi độ tuổi và giai đoạn
          phát triển với các loại thức ăn khô, thức ăn ướt, pate, snack snack từ
          các thương hiệu uy tín hàng đầu như Royal Canin, Whiskas, Purina,
          Me-O, ... Khám phá thế giới ẩm thực phong phú với đa dạng hương vị,
          kích thích vị giác của "hoàng thượng" và "boss" kể cả những bé ăn dặm
          hay kén ăn.
        </li>
      </ul>
      <ul>
        <a href="#">2. Phụ kiện cho chó mèo </a>
        <li>
          Luôn cập nhật những phụ kiện mới nhất, thời trang nhất và tiện lợi
          nhất cho "hoàng thượng" và "boss" như dây dắt, rọ mõm, chén ăn, ổ nệm,
          đồ chơi, balo mèo, ... từ các thương hiệu nổi tiếng như PetKit , Fofos
          , ... giúp bạn chăm sóc thú cưng một cách toàn diện và theo trend.
        </li>
        <li>
          Balo mèo thời thượng, giúp bạn mang theo "hoàng thượng" đi dạo, đi
          chơi hay du lịch một cách an toàn và thoải mái.
        </li>
        <li>
          Đồ chơi đa dạng, kích thích trí thông minh và sự phát triển vận động
          của "hoàng thượng" và "boss".
        </li>
      </ul>
      <ul>
        <a href="#">3. Sữa Tắm & Phụ Kiện Tắm Cho Chó</a>
        <li>
          Mang đến cho bạn đa dạng các loại cát vệ sinh mới với khả năng khử mùi
          tốt, thấm hút hiệu quả, giúp bạn giữ cho nhà cửa luôn sạch sẽ, thơm
          tho và hợp vệ sinh như cát vệ sinh bentonite, cát vệ sinh silica, cát
          vệ sinh than hoạt tính, ... từ các thương hiệu uy tín như Sanicat ,
          Hysen Clean ...
        </li>
        <li>
          Cung cấp các loại sữa tắm, dầu xả, nước hoa, ... giúp "hoàng thượng"
          và "boss" luôn được vệ sinh sạch sẽ và thơm tho, tự tin tỏa sáng như
          sữa tắm dầu xả Tropiclean, ...
        </li>
      </ul>
      <ul>
        <a href="#">4. Thực phẩm chức năng cho chó mèo</a>
        <li>
          Bổ sung vitamin, khoáng chất và các dưỡng chất cần thiết giúp tăng
          cường sức khỏe, hệ miễn dịch và sự phát triển toàn diện cho "hoàng
          thượng" và "boss" như vitamin Gimcat , Viên NOURSE Bổ Sung Vitamin &
          Tiêu Búi Lông Mèo , ..., viên hỗ trợ tiêu hóa Probiotics, ...
        </li>
        <li>
          Hỗ trợ tiêu hóa, đẹp da, sáng lông, tăng cường sức đề kháng, giúp
          "hoàng thượng" và "boss" luôn khỏe mạnh và tràn đầy năng lượng.
        </li>
      </ul>
      <ul>
        <a href="#">5. Chuồng lồng cho chó mèo</a>
        <li>
          Cung cấp nhiều mẫu chuồng lồng đa dạng, tiện lợi và an toàn cho "hoàng
          thượng" và "boss" như chuồng lồng sắt, chuồng lồng nhựa, chuồng lồng
          xếp gọn, với thiết kế hiện đại, sang trọng, phù hợp với mọi không gian
          trong nhà và từ chất liệu cao cấp, đảm bảo độ bền bỉ và an toàn cho
          thú cưng.
        </li>
      </ul>
      <p>
        Khám phá thế giới sản phẩm mới mẻ dành riêng cho "hoàng thượng" và
        "boss" của bạn! Và bạn là một "con sen" đích thực? Bạn muốn dành những
        điều tốt đẹp nhất cho "hoàng thượng" và "boss" của mình? Vậy thì Paddy
        chính là điểm đến lý tưởng dành cho bạn!
      </p>
    </div>

    <footer class="foot">
      <div class="footchild">
        <h2>Thành viên Paddiers</h2>
        <p>
          Đăng ký thành viên ngay hôm nay để nhận email về sản phẩm mới và
          chương trình khuyến mãi của Paddy
        </p>
        <div class="footchild1">
          <input type="text" placeholder="Email của bạn..." />
          <button type="submit">Đăng Ký</button>
        </div>
      </div>
      <div class="fulldvu">
        <div class="fulldvuchild">
          <b>Shop</b>
          <a href="#">Dành Cho Chó</a>
          <a href="#">Dành Cho Mèo</a>
          <a href="#">Thương Hiệu</a>
          <a href="#">Blogs</a>
          <a href="#">Bộ Sưu Tập</a>
        </div>
        <div class="fulldvuchild">
          <b>Paddy Pet Shop</b>
          <a href="#">Giới Thiệu</a>
          <a href="#">Thành Viên Paddier</a>
          <a href="#">Điều Khoản Sử Dụng</a>
          <a href="#">Tuyển Dụng</a>
        </div>
        <div class="fulldvuchild">
          <b>Hỗ Trợ Khách Hàng</b>
          <a href="#">Chính Sách Đổi Trả Hàng</a>
          <a href="#">Phương Thức Vận Chuyển</a>
          <a href="#">Chính Sách Bảo Mật</a>
          <a href="#">Phương Thức Thanh Toán</a>
          <a href="#">Chính Sách Hoàn Tiền</a>
        </div>
        <div class="fulldvuchild">
          <b>Liên Hệ</b>
          <p>CÔNG TY CỔ PHẦN THƯƠNG MẠI & DỊCH VỤ PADDY</p>
          <p>MST: 0316459054</p>
          <p>
            116 Nguyễn Văn Thủ, Phường Đa Kao, Quận 1, Thành phố Hồ Chí Minh,
            Việt Nam
          </p>
          <p>Hotline: 0867677891</p>
          <p>Email: contact@paddy.vn</p>
        </div>
      </div>
    </footer>
  </body>
</html>
