<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sale</title>
    <link
      rel="stylesheet"
      href="/petshop-web/frontend/resources/style/home.css"
    />
  </head>
  <body>
    <div class="header">
      <div class="headerFrame1">
        <a href="home.html">
          <img src="/petshop-web/frontend/resources/image/logo.avif" />
        </a>
        <div class="search">
          <input type="text" placeholder="Tìm kiếm..." />
          <button type="submit">
            <img
              src="/petshop-web/frontend/resources/image/search.png"
              alt="#"
            />
          </button>
        </div>
        <div class="cacdvukhac">
          <button class="btn" onclick="clickbtn()">
            <img src="/petshop-web/frontend/resources/image/love.png" />
            <p>Wishlist</p>
          </button>
        </div>
        <div class="cacdvukhac">
          <button class="btn" onclick="clickbtn()">
            <img src="/petshop-web/frontend/resources/image/account.png" />
            <p>Đăng nhập</p>
          </button>
          <div id="login-overlap" class="login-overlap hidden">
            <div id="loginform" class="login-form">
              <div class="login-content">
                <span class="close-btn" onclick="clickbtn()"
                  ><img
                    src="/petshop-web/frontend/resources/image/icons8-close-96.png"
                    alt="*"
                /></span>
                <h3>Đăng Nhập</h3>
                <input type="email" placeholder="Email" required />
                <input type="password" placeholder="Mật khẩu" required />
                <button class="submit">Đăng Nhập</button>
                <a href="#">Quên mật khẩu?</a>
                <button onclick="showCreatForm()" class="register-btn">
                  Tạo tài khoản mới
                </button>
              </div>
            </div>
            
            <div id="creatform" class="login-form hidden">
              <div class="login-content">
                <span class="close-btn" onclick="clickbtn()"
                  ><img
                    src="/petshop-web/frontend/resources/image/icons8-close-96.png"
                    alt="*"
                /></span>
                <h3>Đăng ký</h3>
                <input name="name" type="text" placeholder="Họ tên" required />
                <input
                  name="user-name"
                  type="text"
                  placeholder="Tên đăng nhập"
                  required
                />
                <input type="email" placeholder="Email" required />
                <input type="text" placeholder="Mật khẩu" required />
                <input
                  name="password"
                  type="text"
                  placeholder="Nhập lại mật khẩu"
                  required
                />
                <button class="submit">Đăng ký</button>
                <button onclick="showLoginForm()" class="register-btn">
                  Quay lại đăng nhập
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="cacdvukhac">
          <a href="cart.html">
            <img src="/petshop-web/frontend/resources/image/cart.png" />
            <p>Giỏ Hàng</p>
          </a>
        </div>
      </div>

      <nav class="menu">
        <ul>
          <li>
            <a href="/petshop-web/frontend/view/dog/dog.html">Chó</a>
            <div class="divmenu">
              <p>Chăm sóc vệ sinh cún</p>
              <p>Thức ăn cho chó</p>
              <p>Bánh Thưởng</p>
              <p>Phụ Kiện</p>
              <p>Chăm Sóc Sức Khỏe Cún</p>
              <p>Đồ Chơi</p>
              <p>Vận Chuyển</p>
            </div>
          </li>
          <li>
            <a href="">Mèo</a>
            <div class="divmenu">
              <p>Thức ăn cho mèo</p>
              <p>Phụ Kiện và đồ chơi</p>
              <p>Chăm Sóc Sức Khỏe</p>
              <p>Vận Chuyển-Chuồng</p>
              <p>Vệ sinh</p>
            </div>
          </li>
          <li><a href="">Hàng mới về</a></li>
          <li>
            <a href="">Thiết bị thông minh </a>
            <div class="divmenu">
              <p>Máy ăn uống tự động</p>
              <p>Nhà vệ sinh tự động</p>
              <p>Đồ Chơi Tương Tác</p>
            </div>
          </li>
          <li><a href="">Thương hiệu</a></li>
          <li><a href="">New</a></li>
          <li><a href="">Today sales</a></li>
        </ul>
      </nav>
    </div>

<!-- Phần làm -->

    <footer class="foot">
      <div class="footchild">
        <h2>Thành viên Paddiers</h2>
        <p>
          Đăng ký thành viên ngay hôm nay để nhận email về sản phẩm mới và
          chương trình khuyến mãi của Paddy
        </p>
        <div class="footchild1">
          <input type="text" placeholder="Email của bạn..." />
          <button type="submit">Đăng Ký</button>
        </div>
      </div>
      <div class="fulldvu">
        <div class="fulldvuchild">
          <b>Shop</b>
          <a href="#">Dành Cho Chó</a>
          <a href="#">Dành Cho Mèo</a>
          <a href="#">Thương Hiệu</a>
          <a href="#">Blogs</a>
          <a href="#">Bộ Sưu Tập</a>
        </div>
        <div class="fulldvuchild">
          <b>Paddy Pet Shop</b>
          <a href="#">Giới Thiệu</a>
          <a href="#">Thành Viên Paddier</a>
          <a href="#">Điều Khoản Sử Dụng</a>
          <a href="#">Tuyển Dụng</a>
        </div>
        <div class="fulldvuchild">
          <b>Hỗ Trợ Khách Hàng</b>
          <a href="#">Chính Sách Đổi Trả Hàng</a>
          <a href="#">Phương Thức Vận Chuyển</a>
          <a href="#">Chính Sách Bảo Mật</a>
          <a href="#">Phương Thức Thanh Toán</a>
          <a href="#">Chính Sách Hoàn Tiền</a>
        </div>
        <div class="fulldvuchild">
          <b>Liên Hệ</b>
          <p>CÔNG TY CỔ PHẦN THƯƠNG MẠI & DỊCH VỤ PADDY</p>
          <p>MST: 0316459054</p>
          <p>
            116 Nguyễn Văn Thủ, Phường Đa Kao, Quận 1, Thành phố Hồ Chí Minh,
            Việt Nam
          </p>
          <p>Hotline: 0867677891</p>
          <p>Email: contact@paddy.vn</p>
        </div>
      </div>
    </footer>

    <script src="/petshop-web/frontend/resources/script/homescript.js"></script>
    <script src="/petshop-web/frontend/resources/script/home.js"></script>
  </body>
</html>
