<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Danh sach ten user</h2>
    <ul id="user_list"></ul>
    <script>
      fetch("http://localhost:8080/api/home")
        .then((Response) => Response.json())
        .then((data) => {
          const list = document.getElementById("user_list");
          data.forEach((user) => {
            const li = document.createElement("h2");
            li.textContent = user;
            list.appendChild(li);
          });
        })
        .catch((error) => {
          console.error("Lỗi khi gọi API:", error);
        });
    </script>
  </body>
</html>
