
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
   background-color: rgb(55, 55, 185);
   padding: 33px 30px 20px 100px;
   display: flex;
   height: 140px;
   flex-direction: column;
   row-gap: 20px;
}

.headerFrame1 {
    gap: 20px;
    display: flex; 
    height: 50px; 
    width: 95%;
     justify-content: space-between;
}

.headerFrame1 img {
    width: 150px;
}

.headerFrame1 input {
    width: 650px;
    border-radius: 7px;
    border: 0px;
}

.hotline {
    text-align: center;
    font-weight: bolder;
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}


.cacdvukhac {
    text-align: center;
    margin-top: -5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    width: 50px;
    height: 50px;
    row-gap: 8px;
    /* margin-left: 25px; */
}
.cacdvukhac p {
    font-size: 18px;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.cacdvukhac img {
    height: 50px;
    width: 50px;
}
.cacdvukhac a {
    color: white;
    text-decoration: none;
}
/* nav {
    margin: 0 180px;
    font-size: 22px;
    box-sizing:  border-box;
    font-family: 'Pacifico', cursive;
} */
.menu {
    padding: 6px;
 justify-content: center;
 display: flex;
 font-size: 22px;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 89px;
    padding: 0;
    margin: 0;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
.search {
    align-items: center;
    display: flex;
}
.search input {
    height: 50px;
    padding: 8px 0;
}
 .search input[type="text"] {
    padding: 8px 15px;
    font-size: 17px;
    outline: none;
    background-color: whitesmoke;
}
.search button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    
}
.search img {
    width: 30px;
}